.App {
  text-align: center;
  height: 100vh;
  background-color: #f8f1f1;
  padding: 3%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
  height: 90%;
}
.MuiPaper-root.makeStyles-paper-5.MuiPaper-elevation1.MuiPaper-rounded {
  height: 90%;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
  height: 7vh;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12 {
  /* margin-top: 5%; */
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  height: 50%;
}
